@font-face {
    font-family: 'iconfont';  /* project id 1296593 */
    src: url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.eot');
    src: url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.woff') format('woff'),
    url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1296593_hbhmoaqkke7.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}